/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap");
:root {
  /* yoru ni kakeru colors */
  --clr-primary-dim: #0e6183;
  --clr-primary: #4d8fa8;
  --clr-primary-light: #a1c3d1;
  --clr-secondary-dim: #1e8897;
  --clr-secondary: #58aeb9;
  --clr-secondary-light: #9fd0d6;
  --clr-warn: #d82d30;
  --clr-neutral: #e7dfdb;
  --clr-link: #123bb6;
  --clr-link-hover: #7991da;
  --clr-highlight: #f8f7b0bb;
  --clr-darkgrey: #d4d4d4;
  --clr-medgrey: #e0e0e0;
  --clr-grey: #f7f7f7;

  --ff-heading: "Noto Sans";
  --ff-body: "Noto Sans";

  --tt-short: 0.0727s;
  --tt-long: 0.2181s;

  --xs: 0.25em;
  --s: 0.5em;
  --m: 1em;
  --l: 1.5em;

  /* must be equal to effective navbar height */
  --content-offset: 72px;
  /* probably still unsafe to change these */
  --game-width: 800px;
  --game-height: 600px;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--ff-body);
  background-color: var(--clr-neutral);
}

html {
  height: auto;
  min-height: 100%;
}

#root {
  position: relative;
  z-index: 0;
}

h1, h2, h3 {
  font-family: var(--ff-heading);
}
