/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&family=Roboto:wght@500&display=swap');
@import "./catppuchin.css";

:root {
  /* yoru ni kakeru colors */
  --clr-primary-dim: var(--black2);
  --clr-primary: var(--black4);
  --clr-primary-light: var(--gray0);
  --clr-secondary-dim: var(--gray0);
  --clr-secondary: var(--gray05);
  --clr-secondary-light: var(--gray1);
  --clr-create: var(--green);
  --clr-create-light: var(--teal);
  --clr-warn: var(--red);
  --clr-neutral: var(--black1);
  --clr-link: var(--yellow);
  --clr-link-hover: var(--maroon);
  --clr-highlight: var(--red);
  --clr-darkgrey: #d4d4d4;
  --clr-medgrey: #e0e0e0;
  --clr-grey: #f7f7f7;

  --ff-roboto: "Roboto";
  --ff-logo: "Fredoka One";
  --ff-heading: "Open Sans";
  --ff-body: "Open Sans";

  --tt-short: 0.0727s;
  --tt-long: 0.2181s;

  --xs: 0.25em;
  --s: 0.5em;
  --m: 1em;
  --l: 1.5em;

  /* must be equal to effective navbar height */
  --content-offset: 72px;
  /* probably still unsafe to change these */
  --game-width: 800px;
  --game-height: 600px;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--ff-body);
	color: var(--white);
  background-color: var(--clr-neutral);
}

html {
  height: auto;
  min-height: 100%;
}

#root {
  position: relative;
  z-index: 0;
}

h1, h2, h3 {
  font-family: var(--ff-heading);
	color: var(--white);
}

input, select {
	background-color: var(--clr-primary);
	color: var(--white);
	margin: var(--s);
	border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
